.home-container {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  overflow: hidden;
}
.home-container__left-panel {
  grid-column: 1/span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  overflow-y: auto;
  row-gap: 1rem;
}
.home-container__right-panel {
  grid-column: 2/span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  row-gap: 1rem;
}

.create-post {
  border-radius: 1.2rem;
  box-shadow: 0 0 0.5rem 0.2rem rgba(163, 167, 169, 0.5);
  width: 100%;
  padding: 1rem;
}

.create-form-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(5, auto);
  row-gap: 0.5rem;
}
.create-form-container__location {
  grid-column: 1/span 1;
  grid-row: 1/span 1;
}
.create-form-container__upload-media {
  grid-column: 2/span 1;
  grid-row: 1/span 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.create-form-container__upload-media button {
  font-size: 1.2rem;
}
.create-form-container__post-text {
  grid-column: 1/span 2;
  grid-row: 2/span 1;
}
.create-form-container__media-preview {
  grid-column: 1/span 2;
  grid-row: 3/span 1;
  display: grid;
  place-items: center;
}
.create-form-container__btns {
  grid-column: 1/span 2;
  grid-row: 4/span 1;
}
.create-form-container__error {
  grid-column: 1/span 2;
  grid-row: 5/span 1;
  color: red;
  display: flex;
  justify-content: center;
}

.edit-form-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(5, auto);
  row-gap: 0.5rem;
}
.edit-form-container__location {
  grid-column: 1/span 1;
  grid-row: 1/span 1;
}
.edit-form-container__upload-media {
  grid-column: 2/span 1;
  grid-row: 1/span 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.edit-form-container__upload-media button {
  font-size: 1.2rem;
}
.edit-form-container__post-text {
  grid-column: 1/span 2;
  grid-row: 2/span 1;
}
.edit-form-container__media-preview {
  grid-column: 1/span 2;
  grid-row: 3/span 1;
  display: flex;
  justify-content: space-evenly;
}
.edit-form-container__btns {
  grid-column: 1/span 2;
  grid-row: 4/span 1;
}
.edit-form-container__error {
  grid-column: 1/span 2;
  grid-row: 5/span 1;
  color: red;
  display: flex;
  justify-content: center;
}

.preview-window {
  position: relative;
}
.preview-window img {
  border-radius: 1.2rem;
}

.select-media-btn,
.delete-media-btn,
.prev-preview-btn,
.next-preview-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-media-btn {
  position: absolute;
  top: 2%;
  right: 2%;
  background: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.75rem;
}

.select-media-btn {
  position: absolute;
  top: 3%;
  right: 3%;
  background: white;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
  font-size: 1.75rem;
}

.prev-preview-btn {
  position: absolute;
  bottom: 4%;
  left: 7%;
  background: white;
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
}

.next-preview-btn {
  position: absolute;
  bottom: 4%;
  right: 7%;
  background: white;
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
}

.posts-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.posts-container h2 {
  margin-left: 1rem;
}

.post-container {
  border-radius: 1.2rem;
  box-shadow: 0 0 0.5rem 0.2rem rgba(163, 167, 169, 0.5);
  display: grid;
  grid-template-rows: repeat(5, auto);
  row-gap: 0.5rem;
  padding: 0.75rem;
}
.post-container__header {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  padding: 0 0.5rem;
}
.post-container__body-text {
  padding: 0 0.5rem;
}
.post-container__body-media {
  display: grid;
  place-items: center;
}
.post-container__likes {
  display: flex;
  align-items: center;
  justify-content: end;
}
.post-container__likes button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: skyblue;
  margin-left: 0.5rem;
  transition: color 0.3s;
}
.post-container__likes button:hover {
  color: blue;
}
.post-container__likes button:active {
  color: darkblue;
}
.post-container__footer {
  display: grid;
  grid-template-rows: repeat(2, auto);
}

.post-settings-btn {
  position: absolute;
  top: -20%;
  right: 0;
}
.post-settings-btn button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0 0.2rem;
}
.post-settings-btn button:hover {
  color: skyblue;
}

.comment-form {
  display: flex;
  align-items: center;
}
.comment-form__btns {
  display: flex;
}
.comment-form__btns button {
  margin: 0 0.5rem;
}

.comments-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  padding: 0.5rem;
}

.comment-container {
  position: relative;
  border-radius: 1.2rem;
  box-shadow: 0 0 0.5rem 0.2rem rgba(163, 167, 169, 0.5);
  display: grid;
  grid-template-rows: repeat(3, auto);
  padding: 0.5rem;
}
.comment-container__header {
  display: flex;
  align-items: center;
}
.comment-container__header h6 {
  margin-left: 0.5rem;
}
.comment-container__body-text {
  padding: 0 0.5rem;
}
.comment-container__body-text p,
.comment-container__body-text form {
  margin: 0.5rem 0;
}
.comment-container__likes {
  display: flex;
  align-items: center;
  justify-content: end;
}
.comment-container__likes button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: skyblue;
  margin-left: 0.5rem;
  transition: color 0.3s;
}
.comment-container__likes button:hover {
  color: blue;
}
.comment-container__likes button:active {
  color: darkblue;
}
.comment-container__footer {
  display: grid;
  grid-template-rows: repeat(2, auto);
}

.comment-settings-btn {
  position: absolute;
  top: 3%;
  right: 2%;
}
.comment-settings-btn button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin: 0 0.5rem;
}
.comment-settings-btn button:hover {
  color: skyblue;
}

.sub-comment-container {
  position: relative;
  display: grid;
  grid-template-rows: repeat(3, auto);
  padding: 0.5rem;
  border-bottom: 1px solid rgba(163, 167, 169, 0.5);
  margin-top: 0.5rem;
  overflow: scroll;
}
.sub-comment-container__header {
  display: flex;
  align-items: center;
}
.sub-comment-container__header h6 {
  margin-left: 0.5rem;
}
.sub-comment-container__body-text {
  padding: 0 0.5rem;
}
.sub-comment-container__body-text p,
.sub-comment-container__body-text form {
  margin: 0.5rem 0;
}
.sub-comment-container__likes {
  display: flex;
  align-items: center;
  justify-content: end;
}
.sub-comment-container__likes button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: skyblue;
  margin-left: 0.5rem;
  transition: color 0.3s;
}
.sub-comment-container__likes button:hover {
  color: blue;
}
.sub-comment-container__likes button:active {
  color: darkblue;
}

.sub-comment-settings-btn {
  position: absolute;
  top: 5%;
  right: 2%;
}
.sub-comment-settings-btn button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin: 0 0.5rem;
}
.sub-comment-settings-btn button:hover {
  color: skyblue;
}

.home-weather-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 2rem;
  border-radius: 1.2rem;
  box-shadow: 0 0 0.5rem 0.2rem rgba(163, 167, 169, 0.5);
  color: white;
  font-weight: bold;
}
.home-weather-container__main {
  display: grid;
  grid-template-columns: repeat(3, auto);
  place-items: center;
}
.home-weather-container__footer form {
  display: flex;
  column-gap: 1rem;
  background: white;
  border-radius: 1.2rem;
  padding: 0.5rem;
}

.recommended-place {
  background-image: url("/map.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 2rem;
  border-radius: 1.2rem;
  box-shadow: 0 0 0.5rem 0.2rem rgba(163, 167, 169, 0.5);
}
.recommended-place__header h3 {
  background: white;
  width: fit-content;
  padding: 0 0.5rem;
  border-radius: 1.2rem;
}

@media only screen and (max-width: 430px) {
  .home-container {
    grid-template-columns: 1fr;
  }
  .home-container__left-panel {
    grid-column: 1/span 1;
    padding: 1rem;
  }
  .home-container__right-panel {
    display: none;
  }
  .home-weather-container {
    padding: 1rem;
  }
  .home-weather-container__main {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    row-gap: 1rem;
  }
  .home-weather-container__main .weather-img {
    grid-column: 1/span 2;
    grid-row: 1/span 1;
  }
  .home-weather-container__main .weather-main-info {
    grid-column: 1/span 1;
    grid-row: 2/span 1;
  }
  .home-weather-container__main .weather-rest-info {
    grid-column: 2/span 1;
    grid-row: 2/span 1;
  }
}

/*# sourceMappingURL=home.css.map */
