.font-style {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: cursive;
}

.icon {
  margin-right: 0.3rem;
  cursor: pointer;
}

.page-header {
  grid-area: header;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  align-items: center;
  background-image: url("/nav.jpg");
  background-repeat: no-repeat;
  background-position: 0% 60%;
  background-size: cover;
  color: white;
}
.page-header .link {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  margin: 0 3%;
  color: white;
}
.page-header .link:hover {
  text-shadow: 0 0 1rem white;
}
.page-header__nav-bar {
  grid-column: 1/span 1;
  display: flex;
  justify-content: center;
}
.page-header__nav-drop-menu-btn {
  display: none;
}
.page-header__title {
  grid-column: 2/span 1;
  display: flex;
  justify-content: center;
}
.page-header__sign-in-btn {
  cursor: pointer;
  grid-column: 3/span 1;
  display: flex;
  justify-content: center;
}
.page-header__sign-in-btn button {
  cursor: pointer;
  display: flex;
  align-items: center;
  background: transparent;
  border: 0.2rem solid white;
  border-radius: 1.2rem;
  color: white;
  padding: 0.5rem 1rem;
  transition: all 0.3s;
}
.page-header__sign-in-btn button:hover {
  background: rgba(163, 167, 169, 0.5);
  box-shadow: 0 0 1rem 0.2rem rgb(163, 167, 169);
}
.page-header__sign-in-btn button:active {
  background: rgba(163, 167, 169, 0.8);
  box-shadow: none;
}
.page-header__user-drop-menu-btn {
  grid-column: 3/span 1;
  display: flex;
  justify-content: center;
}

.menu-position {
  position: relative;
}
.menu-position span {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.menu-position span:hover {
  text-shadow: 0 0 1rem white;
}
.menu-position .menu {
  border: 1px solid white;
  border-bottom-left-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
  position: absolute;
  z-index: 1;
  top: 100%;
  right: 15%;
  background: rgb(163, 167, 169);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 75%;
  height: 100px;
  padding: 5%;
}
.menu-position .menu .profile-btn,
.menu-position .menu button {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  color: white;
  text-decoration: none;
  border-bottom: 1px solid white;
}
.menu-position .menu .profile-btn:hover,
.menu-position .menu button:hover {
  text-shadow: 0 0 1rem white;
}
.menu-position .menu button {
  background: transparent;
  border: none;
  cursor: pointer;
  border-bottom: 1px solid white;
}

@media only screen and (max-width: 480px) {
  .page-header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .page-header .link {
    margin: 0;
    border-bottom: 1px solid white;
  }
  .page-header__title {
    grid-column: 1/span 2;
    grid-row: 1/span 1;
  }
  .page-header__nav-bar {
    display: none;
  }
  .page-header__sign-in-btn, .page-header__user-drop-menu-btn {
    grid-column: 2/span 1;
    grid-row: 2/span 1;
  }
  .page-header__nav-drop-menu-btn {
    grid-column: 1/span 1;
    grid-row: 2/span 1;
    display: flex;
    justify-content: center;
  }
  .page-header__nav-drop-menu-btn .menu-position {
    position: relative;
  }
  .page-header__nav-drop-menu-btn .menu-position span {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .page-header__nav-drop-menu-btn .menu {
    border: 1px solid white;
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    position: absolute;
    z-index: 1;
    background: rgb(163, 167, 169);
    top: 100%;
    left: -30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 155%;
    height: 150px;
    padding: 5%;
  }
}

/*# sourceMappingURL=layout.css.map */
