.font-style{
    font-size: 20px;
    font-weight: bold;
    font-family: cursive;
}

.page-header{
    grid-area: 'header';
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    align-items: center;
    background: rgb(135, 175, 95);
    color: white;
    padding: 1rem;
    .icon{
      margin-right: 0.3rem;
    }
    .link{
      cursor: pointer;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: black;
      margin: 0 3%;
      color: white;
    }
    &__nav-bar{
      grid-column: 1/span 1;
      display: flex;
      justify-content: center;  
    }
    &__nav-drop-menu-btn{
      display: none;
    }
    &__title{
      grid-column: 2/span 1;
      display: flex;
      justify-content: center;
    }
    &__sign-in-btn{
      grid-column: 3/span 1;
      display: flex;
      justify-content: center;
      button{
        cursor: pointer;
        display: flex;
        align-items: center;
        background: transparent;
        border: 0.2rem solid white;
        border-radius: 1.2rem;
        color: white;
        padding: 0.5rem 1rem;
      }
    }
}

.sign-in-window{
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 480px){
  .page-header{
    grid-template-columns: 1fr 2fr 1fr;
    .link{
      margin: 0;
      border-bottom: 1px solid black;
    }
    &__nav-bar{
      display: none;
    }
    &__nav-drop-menu-btn{
      display: flex;
      justify-content: center;
      .menu-position{
        position: relative;
      }
      .menu{
        border: 1px solid black;
        border-bottom-left-radius: 1.2rem;
        border-bottom-right-radius: 1.2rem;
        position: absolute;
        z-index: 1;
        background: white;
        top: 125%;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 155%;
        height: 150px;
        padding: 5%;
      }
    }
  }
}
